<div class="w-100 h-100" style="background: #E6E8F0;">
  <div class="row w-100 h-100 m-0 p-0">
    <div class="col-md-5 col-sm-12 bg-gradient-secondary  div_left ">
      <div class="row div_body h-100" style="display: flex;align-content: space-between;">
        <div class="col-md-12 col-sm-12 d-inline-flex">
          <div class="col-md-8 col-sm-6 ">
            <div class="div_logo">
              <img src="./assets/media/logos/logo_laoedu.png" class="img_logo"/>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 div_lang">
            <!--<img src="./assets/media/logos/logo_laoedu.png" class="img_logo"/>-->
            <kt-language-selector class="dropdown_lang"></kt-language-selector>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 label_header">
          <div class="col-md col-sm text_header">
            <!--<p>{{'SYSTEM.NAME' | translate}}</p>-->
            <!--<hr/>-->
            <br/>
            <br/>
            <div>
              <p class="txt_login">{{'AUTH.LOGIN.LOGIN' | translate}}</p>
            </div>
          </div>
          <div class=" div_login">
            <router-outlet></router-outlet>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 copyright">© Copyright by MIGITEK</div>
        <!--<br/>-->
        <!--<div class="col-md-12 col-sm-12 div_login">-->
        <!--<router-outlet></router-outlet>-->
        <!--</div>-->
      </div>
    </div>
    <div class="col-md-7 float-right col-sm-12 ">
      <div>
        <img src="./assets/media/img/image_login.png" class="img_logo_2" alt="img_logo_2"/>
      </div>
      <div style="margin-top: 99%"></div>
    </div>
  </div>
</div>
