.btn-md{
  width: 105px;
  height: 32px;
  left: 726px;
  top: 774px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  border: none;
}
.btn-gray{
  background: #E6E8F0;
  margin-right: 10px;
  color: #696F8C;
}
.btn-or{
  background: #F26522
}
.modal-title{
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600 !important;
  width: 100%;
}
