<!-- begin: Header -->
<div ktHeader #ktHeader class="header " [ngClass]="headerClasses" id="kt_header" style="background-color: #c95b2c;">
  <ng-container *ngIf="(loader.progress$|async) > 0">
    <ngb-progressbar class="loading-bar" [value]="loader.progress$|async" height="3px"></ngb-progressbar>
  </ng-container>

  <!--  begin::logo-->
  <!-- <a href="" style="background-color:#C95B2C">
    <div style="border-right: 1px solid #e8e8e8; width: 265px; text-align: center;">
      <b><i class="fa fa-gears"> <img style="width: 100%;" src="./assets/media/logos/smas_logo.png"/></i></b>
    </div>
  </a> -->

  <!--  end::logo-->

  <!--begin::Container-->
  <div [ngClass]="headerContainerClasses"
      class="rrr d-flex align-items-stretch justify-content-between"
      style="background: #ffffff;border-radius: 16px 0 0 0;"
  >

<!--    <ng-container *ngIf="(loader.progress$|async) > 0">-->
<!--      <ngb-progressbar class="loading-bar" [value]="loader.progress$|async" height="3px"></ngb-progressbar>-->
<!--    </ng-container>-->

    <!-- begin: Header Menu -->
    <ng-container *ngIf="headerMenuSelfDisplay">
      <kt-menu-horizontal
        [headerLogo]="headerLogo"
        [headerMenuSelfDisplay]="headerMenuSelfDisplay"
        [headerMenuClasses]="headerMenuClasses"
      ></kt-menu-horizontal>
    </ng-container>
    <!-- end: Header Menu -->

    <!-- begin:: Header Topbar -->
    <!-- empty div to fix topbar to stay on the right when menu-horizontal is hidden -->
    <ng-container *ngIf="!headerMenuSelfDisplay">
      <div></div>
    </ng-container>
    <!--begin::Topbar-->
    <!-- <kt-topbar class="topbar"></kt-topbar> -->
    <!--end::Topbar-->
    <!-- end:: Header Topbar -->
  </div>
  <!--end::Container-->
</div>
<!-- end: Header -->
