.btn-action-dv{
  display: flex;
  align-items: center;
  width: 98px;
  height: 32px;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  margin-left: 15px;
  svg{
    margin-right: 10px;
  }
}
.btn-action-dv.blue{
  background: #3366FF;
  border: 1px solid #3366FF;
}
.btn-action-dv.gray{
  background: #696F8C;
  border: 1px solid #696F8C;
}
.btn-action-dv.long{
  width: 139px;
  border: 1px solid #696F8C;
}
.btn-search:focus{
  border: 2px solid #70a3a5 !important;
}