<div class="modal-dialog-custom">
  <form [formGroup]="formConfig" class="login-form">
    <div class="modal-content">
      <div class="modal-header" style="padding-bottom: 0;flex-direction: column;">
        <h4 class="modal-title" style="text-align: center;">cấu hình thông báo khoá điểm</h4>
        <p class="des">Bạn vui lòng chọn thời gian trước hạn Khoá để thông báo, nhắc nhở Cán bộ giáo viên nhập điểm trước thời hạn</p>
      </div>
      <div class="modal-body" style="padding: 15px 10px 12px 10px !important;">
        <div class="row">
          <label style="margin-left: 12px; font-size: 14px; font-weight: 600; color: #474D66;">Số ngày trước hạn <span style="color: red">*</span></label>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline">
             <input matInput  type="number" formControlName="numberDay" min="1" max="10">
            </mat-form-field>
            <mat-error *ngIf="showErr">
              {{message}}
            </mat-error>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="padding-top: 21px;">
        <button type="button" class="btn-md btn-gray" (click)="onDismiss()">Hủy bỏ</button>
        <button [class.disable-form]="this.formConfig.invalid" [disabled] = this.formConfig.invalid type="submit" class="btn-md btn-or"
                (click)="this.formConfig.invalid ? null : save()">Lưu lại</button>
      </div>
    </div>
  </form>
</div>
