$color-primary: #F26522;
.color--red {
  color: red;
}
.primary {
  background: $color-primary;
}
.pt-0 {
  padding-top: 0 !important;
}

.f {
  display: flex;
}

.f--ac {
  align-items: center;
  display: block;
}

.f--jb {
  justify-content: space-between;
}

.f--jc {
  justify-content: center;
  background: white;
  margin-top: 20px;}

.modal1 {
  font-family: "Inter", sans-serif;
  width: 760px;
  height: 669px;
  left: 456px;
  background: #ffffff;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 6px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background: $color-primary;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal__title {
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0%;
  /* identical to box height, or 167% */
}

.modal__line {
  /* background: #ffffff; */
  border: 1px solid #e6e8f0;
  box-shadow: 0px 2px 4px rgba(28, 41, 90, 0.0367952);
}

.modal__form {
  width: 100%;
  display: block;
}

.modal__group {
  padding: 24px;
  padding-bottom: 20px;
  margin-top: -20px;
}

.modal__group--bottom {
  padding: 20px;
  padding-bottom: 20px;
  justify-content: center;
}
.addbutton{
  margin-top: 70px;
}
.modal__control {
  width: 100%;
  max-width: 350px;
  margin: 0;
  padding: 0;
}

.modal__control__label {
  display: block;
  height: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #474d66;
}

.modal__control__select {
  width: 350px;
  height: 37px;
  background: #ffffff;
  border: 1px solid #d8dae5;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal__control__span {
  height: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  padding-left: 8px;
  color: #474d66;
}

.modal__control__checkbox:hover input~ .modal__control__span{
  background-color: white;
}

.modal__control__checkbox input:checked ~ .modal__control__span{
  content: '✔';
  background-color: #F26522;
  border-radius: 6px;
}

.modal__bottom {
  bottom: 60px;
  width: 100%;
}

.modal__button {
  background: #f3f6ff;
  box-sizing: border-box;
  border-radius: 4px;

  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

.modal__button--add {
  bottom: 160px;
  padding: 12px 79px;
  border: 1px dashed #3366ff;
  background: rgba(243, 246, 255, 1);
  color: #3366ff;
  width: 274px;
  height: 40px;
  left: 480px;
  top: 693px;
  background: #F3F6FF;
  border: 1px dashed #3366FF;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
}

.modal__button--cancel {
  padding: 8px 32px;
  border: none;
  border-radius: 4px;
  background: rgba(243, 246, 255, 1);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #696f8c;
  margin: 6px;
}

.modal__button--save {
  padding: 8px 32px;
  border: none;
  border-radius: 4px;
  background: #f26522;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  margin: 6px;
}

.modal__table{
  height: 200px;

}
.stt{
  width: 48px;
  height: 56px;
  left: 480px;
  top: 557px;
  background: #F4F6FA;
  box-shadow: inset 0px -1px 0px #edf2f7;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8F95B2;
}
.sttcot{
  width: 48px;
  height: 56px;
  left: 480px;
  top: 613px;
  background: #FFFFFF;
  text-align: center;
  font-size: 12px;
}
.cotdiem{
  width: 200px;
  height: 56px;
  left: 528px;
  top: 557px;
  background: #F4F6FA;
  box-shadow: inset 0px -1px 0px #EDF2F7;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8F95B2;
}
.cotdiemnhap input{
  width: 176px;
  height: 36px;
  left: 12px;
  top: 10px;
  background: #FFFFFF;
  border: 1px solid #D8DAE5;
  box-sizing: border-box;
  border-radius: 4px;
}
.heso{
  width: 139px;
  height: 56px;
  left: 728px;
  top: 557px;
  background: #F4F6FA;
  box-shadow: inset 0px -1px 0px #EDF2F7;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8F95B2;
}
.hesonhap ng-select{
  width: 115px;
  height: 36px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
}
.hesonhap{
  width: 139px;
  height: 56px;
  left: 728px;
  top: 613px;
  background: #FFFFFF;
  font-size: 12px;
}
.soluongnhap{
  width: 139px;
  height: 56px;
  left: 867px;
  top: 613px;
  background: #FFFFFF;
  font-size: 12px;
}
.soluongnhap ng-select{
  width: 115px;
  height: 36px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
}
.toithieunhap{
  width: 138px;
  height: 56px;
  left: 1006px;
  top: 613px;
  background: #FFFFFF;font-size: 12px;
}
.toithieunhap ng-select{
  width: 115px;
  height: 36px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
}
.act{
  width: 48px;
  height: 56px;
  left: 1144px;
  top: 613px;
  background: #FFFFFF;font-size: 12px;
}
.soluong{
  width: 139px;
  height: 56px;
  left: 728px;
  top: 557px;
  background: #F4F6FA;
  box-shadow: inset 0px -1px 0px #EDF2F7;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8F95B2;
}
.toithieu{
  width: 138px;
  height: 56px;
  left: 1006px;
  top: 557px;
  background: #F4F6FA;
  box-shadow: inset 0px -1px 0px #EDF2F7;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8F95B2;
}
.trong{
  width: 48px;
  height: 56px;
  left: 1144px;
  top: 505px;
  background: #F4F6FA;
  box-shadow: inset 0px -1px 0px #EDF2F7;
}

.sttxeploai{
  width: 48px;
  height: 56px;
  left: 480px;
  top: 557px;
  background: #F4F6FA;
  text-align: center;
  box-shadow: inset 0px -1px 0px #EDF2F7;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8F95B2;
  text-align: center;
}
.cotxeploai{
  width: 200px;
  height: 56px;
  left: 528px;
  top: 557px;
  background: #F4F6FA;
  box-shadow: inset 0px -1px 0px #EDF2F7;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8F95B2;
}
.kieuchon{
  width: 96px;
  height: 56px;
  left: 728px;
  top: 557px;
  background: #F4F6FA;
  text-align: center;
  box-shadow: inset 0px -1px 0px #EDF2F7;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8F95B2;
}
.kieuchon1 {
  width: 96px;
  height: 56px;
  left: 728px;
  top: 613px;
  background: #FFFFFF;
  display: block;
  padding-left: 30px;
  text-align: center;
  font-size: 12px;
}
.giatri{
  width: 320px;
  height: 56px;
  left: 824px;
  top: 557px;
  background: #F4F6FA;
  box-shadow: inset 0px -1px 0px #EDF2F7;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8F95B2;
}
.giatri1{
  width: 320px;
  height: 56px;
  left: 824px;
  top: 613px;font-size: 12px;
  background: #FFFFFF;
}
.sttxeploai1{
  width: 48px;
  height: 56px;
  left: 480px;
  top: 613px;
  text-align: center;
  font-size: 12px;
  background: #FFFFFF;
}
.cotxeploai1{
  width: 176px;
  height: 36px;
  left: 12px;
  top: 10px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
}
.trong1{
  width: 48px;
  height: 56px;
  left: 1144px;
  top: 613px;font-size: 12px;
  background: #FFFFFF;
  text-align: center;
}
.cotxeploai1 input{
  width: 176px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #D8DAE5;
  box-sizing: border-box;
  border-radius: 4px;
}
.giatri1 input{
  width: 296px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #D8DAE5;
  box-sizing: border-box;
  border-radius: 4px;
}
input[type="date"],
input[type="time"] {
  font-size: 12px !important;
}

// focus
.modal__button--save:focus,
.modal__control__checkbox:focus,
.modal__button--add:focus,
.modal__button--cancel:focus{
  border: 1px solid #70a3a5;
}
