<div class="create-group">
  <form class="login-form" [formGroup]="groupTeacherAddForm" #ngForm="ngForm">
    <div class="create-title">
      <div class="group-title">
        <h4 class="group-title__content" *ngIf="action === 'add'">Tạo mới nhóm liên lạc</h4>
        <h4 class="group-title__content" *ngIf="action === 'edit'">Cập nhật nhóm liên lạc</h4>
      </div>

      <div class="group-search-box">
        <div class="col-md-4" style="padding: 0;">
          <strong class="mb-2 d-block required">Mã nhóm <span class="text-danger">*</span></strong>
          <mat-form-field appearance="outline" style="width: 100%; display: block;">
            <input matInput type="text" formControlName="code" [readonly]="this.action === 'edit'"
                   (blur)="listenCode('code')" [maxLength]="50" [pattern]="pattern">
          </mat-form-field>
          <mat-error *ngIf="(groupTeacherAddForm.get('code').errors?.required && groupTeacherAddForm.get('code').touched) ||
                          (groupTeacherAddForm.get('code').errors?.required && ngForm.submitted)">
            Vui lòng nhập mã nhóm
          </mat-error>
          <mat-error *ngIf="(groupTeacherAddForm.get('code').errors?.pattern && groupTeacherAddForm.get('code').touched) ||
                          (groupTeacherAddForm.get('code').errors?.pattern && ngForm.submitted)">
            Mã nhóm không được chứa ký tự tiếng việt có dấu, ký tự space
          </mat-error>
        </div>
        <div class="col-md-8" style="padding: 0 0 0 24px">
          <strong class="mb-2 d-block required">Tên nhóm <span class="text-danger">*</span></strong>
          <mat-form-field appearance="outline" style="width: 100%; display: block;">
            <input matInput type="text" formControlName="name"
                   (blur)="listenCode('name')" [maxLength]="250">
          </mat-form-field>
          <mat-error *ngIf="(groupTeacherAddForm.get('name').errors && groupTeacherAddForm.get('name').touched) ||
                           (groupTeacherAddForm.get('name').errors && ngForm.submitted)">
            Vui lòng nhập tên nhóm
          </mat-error>
        </div>
      </div>

      <div class="group-body">
        <strong class="mb-5 d-block text-uppercase overflow-ellipsis" style="color: #696F8C">
          THÊM DANH SÁCH GIÁO VIÊN VÀO NHÓM LIÊN LẠC</strong>
        <div class="row">
          <div class="col-4">
            <div class="tree-view mt-3">
              <kt-tree-view [config]="config1" [items]="items"
                            [selectAllTitle]="'TOÀN TRƯỜNG'"
                            (valueChange)="treeViewValueChange($event)"></kt-tree-view>
            </div>
          </div>
          <div class="col-8">
            <div class="ml-5 mt-3 position-relative">
              <div class="list-teacher-details">
                <strong class="mb-5 d-block text-uppercase" style="font-size: 16px">Danh sách giáo viên thuộc nhóm</strong>
                <div class="d-flex">
                  <input class="form-control" type="text" placeholder="Nhập mã hoặc tên giáo viên tìm kiếm..." style="font-size: 12px"
                         [(ngModel)]="filterText" [ngModelOptions]="{standalone: true}"/>
                  <button style="background: #F26522" class="btn ml-3 text-white text-nowrap"
                          (click)="searchGroupContactDetailsWithKeySearch()">Tìm kiếm</button>
                </div>
                <div class="my-5">
                  <strong>Kết quả: </strong>
                  <span class="font-weight-bold" style="color: #8F95B2"> {{totalGroupDetails}} giáo viên</span>
                </div>
                <div class="row table-school table-class-room" style="margin: 20px 0 0 0;">
                  <ag-grid-angular [suppressRowTransform]="true" [suppressRowClickSelection]="true"
                                   style="width: 100%; height: 190px;" [ngClass]='{tableListNull: groupTeacherDetailsDTOList.length == 0}'
                                   class="ag-theme-balham" [rowData]="groupTeacherDetailsDTOList" [columnDefs]="columnDefs"
                                   [headerHeight]="56" [overlayNoRowsTemplate]="noRowsTemplate"
                                   [rowSelection]="'multiple'" (rowSelected)="onRowSelected($event)" [tooltipShowDelay]="0"
                                   [rowHeight]="50" (gridReady)="onGridReady($event)"
                                   (gridSizeChanged)="gridSizeChanged($event)">
                  </ag-grid-angular>
                </div>
                <!-- PAGING START -->
                <div class="sy-paging w-100" *ngIf="totalGroupDetails >0">
                  <span class="sy-paging-result" style="color: #101840;">{{first}}-{{last}} của {{totalGroupDetails}} kết quả</span>
                  <ul style="display: flex; align-items: center;margin-right: 23px;">
                    <div (click)="goToPage(1)" style="margin-right: 25px;cursor: pointer;">
                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M7.8075 6L10.275 3.5325C10.4175 3.3975 10.5 3.21 10.5 3C10.5 2.5875 10.1625 2.25 9.75 2.25C9.54 2.25 9.3525 2.3325 9.2175 2.4675L6.2175 5.4675C6.0825 5.6025 6 5.79 6 6C6 6.21 6.0825 6.3975 6.2175 6.5325L9.2175 9.5325C9.3525 9.6675 9.54 9.75 9.75 9.75C10.1625 9.75 10.5 9.4125 10.5 9C10.5 8.79 10.4175 8.6025 10.2825 8.4675L7.8075 6Z"
                              fill="#8F95B2"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M2.8075 6L5.275 3.5325C5.4175 3.3975 5.5 3.21 5.5 3C5.5 2.5875 5.1625 2.25 4.75 2.25C4.54 2.25 4.3525 2.3325 4.2175 2.4675L1.2175 5.4675C1.0825 5.6025 1 5.79 1 6C1 6.21 1.0825 6.3975 1.2175 6.5325L4.2175 9.5325C4.3525 9.6675 4.54 9.75 4.75 9.75C5.1625 9.75 5.5 9.4125 5.5 9C5.5 8.79 5.4175 8.6025 5.2825 8.4675L2.8075 6Z"
                              fill="#8F95B2"/>
                      </svg>
                    </div>
                    <div (click)="prev()" style="margin-right: 20px;cursor: pointer;">
                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M5.5575 6L8.025 3.5325C8.1675 3.3975 8.25 3.21 8.25 3C8.25 2.5875 7.9125 2.25 7.5 2.25C7.29 2.25 7.1025 2.3325 6.9675 2.4675L3.9675 5.4675C3.8325 5.6025 3.75 5.79 3.75 6C3.75 6.21 3.8325 6.3975 3.9675 6.5325L6.9675 9.5325C7.1025 9.6675 7.29 9.75 7.5 9.75C7.9125 9.75 8.25 9.4125 8.25 9C8.25 8.79 8.1675 8.6025 8.0325 8.4675L5.5575 6Z"
                              fill="#8F95B2"/>
                      </svg>
                    </div>
                    <li class="sy-page"
                        [class.sy-highlight]="i === this.page"
                        [class.sy-dots]="i === '...'"
                        *ngFor="let i of rangeWithDots"
                        (click)="i !== '...' && goToPage(i)">
                      {{ i }}
                    </li>
                    <div (click)="next()" style="margin-left: 20px;cursor: pointer;">
                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M8.0325 5.4675L5.0325 2.4675C4.8975 2.3325 4.71 2.25 4.5 2.25C4.0875 2.25 3.75 2.5875 3.75 3C3.75 3.21 3.8325 3.3975 3.9675 3.5325L6.4425 6L3.975 8.4675C3.8325 8.6025 3.75 8.79 3.75 9C3.75 9.4125 4.0875 9.75 4.5 9.75C4.71 9.75 4.8975 9.6675 5.0325 9.5325L8.0325 6.5325C8.1675 6.3975 8.25 6.21 8.25 6C8.25 5.79 8.1675 5.6025 8.0325 5.4675Z"
                              fill="#8F95B2"/>
                      </svg>
                    </div>
                    <div (click)="goToPage(totalPage)" style="margin-left: 25px;cursor: pointer;">
                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M5.2825 5.4675L2.2825 2.4675C2.1475 2.3325 1.96 2.25 1.75 2.25C1.3375 2.25 1 2.5875 1 3C1 3.21 1.0825 3.3975 1.2175 3.5325L3.6925 6L1.225 8.4675C1.0825 8.6025 1 8.79 1 9C1 9.4125 1.3375 9.75 1.75 9.75C1.96 9.75 2.1475 9.6675 2.2825 9.5325L5.2825 6.5325C5.4175 6.3975 5.5 6.21 5.5 6C5.5 5.79 5.4175 5.6025 5.2825 5.4675Z"
                              fill="#8F95B2"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M10.2825 5.4675L7.2825 2.4675C7.1475 2.3325 6.96 2.25 6.75 2.25C6.3375 2.25 6 2.5875 6 3C6 3.21 6.0825 3.3975 6.2175 3.5325L8.6925 6L6.225 8.4675C6.0825 8.6025 6 8.79 6 9C6 9.4125 6.3375 9.75 6.75 9.75C6.96 9.75 7.1475 9.6675 7.2825 9.5325L10.2825 6.5325C10.4175 6.3975 10.5 6.21 10.5 6C10.5 5.79 10.4175 5.6025 10.2825 5.4675Z"
                              fill="#8F95B2"/>
                      </svg>
                    </div>
                  </ul>
                </div>
                <!-- PAGING END -->
              </div>
              <div class="btn-change" (click)="pushTreeDataToTable()">
                <svg width="32" height="36" viewBox="0 0 32 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="32" height="36" rx="6" fill="#F26522"/>
                  <path
                    d="M15.4526 10.2979C15.1159 10.2979 14.7868 10.3978 14.5068 10.5848C14.2269 10.7719 14.0087 11.0378 13.8799 11.3489C13.751 11.6599 13.7173 12.0022 13.783 12.3324C13.8487 12.6627 14.0108 12.966 14.2488 13.2041L19.0451 18.0004L14.2488 22.7966C14.0798 22.9519 13.944 23.1398 13.8494 23.3489C13.7549 23.558 13.7036 23.7841 13.6986 24.0136C13.6937 24.2431 13.7352 24.4712 13.8207 24.6842C13.9061 24.8972 14.0338 25.0907 14.196 25.2532C14.3581 25.4156 14.5515 25.5435 14.7643 25.6293C14.9772 25.7151 15.2053 25.757 15.4347 25.7524C15.6642 25.7478 15.8904 25.6969 16.0997 25.6027C16.309 25.5084 16.497 25.3729 16.6526 25.2041L23.5901 18.2666C23.6252 18.2317 23.6531 18.1903 23.6722 18.1446C23.6912 18.0989 23.701 18.0499 23.701 18.0004C23.701 17.9508 23.6912 17.9018 23.6722 17.8561C23.6531 17.8104 23.6252 17.769 23.5901 17.7341L16.6526 10.7966C16.4953 10.6385 16.3084 10.513 16.1024 10.4274C15.8965 10.3418 15.6756 10.2978 15.4526 10.2979Z"
                    fill="white"/>
                  <path
                    d="M8.24904 25.204C8.40681 25.3619 8.59416 25.4872 8.80039 25.5727C9.00662 25.6582 9.22767 25.7022 9.45091 25.7022C9.67416 25.7022 9.89521 25.6582 10.1014 25.5727C10.3077 25.4872 10.495 25.3619 10.6528 25.204L17.5903 18.2665C17.6254 18.2316 17.6533 18.1902 17.6724 18.1445C17.6914 18.0988 17.7012 18.0498 17.7012 18.0003C17.7012 17.9507 17.6914 17.9017 17.6724 17.856C17.6533 17.8103 17.6254 17.7689 17.5903 17.734L10.6528 10.7965C10.3293 10.4993 9.90345 10.3386 9.46425 10.3481C9.02505 10.3575 8.6065 10.5364 8.29611 10.8472C7.98572 11.1581 7.80751 11.5769 7.79874 12.0162C7.78996 12.4554 7.95131 12.881 8.24904 13.204L13.0453 18.0003L8.24904 22.7965C7.92982 23.1158 7.75049 23.5488 7.75049 24.0003C7.75049 24.4517 7.92982 24.8847 8.24904 25.204Z"
                    fill="white"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="group-footer">
    <button class="btn btn-gray out-line-btn" style="background: #E6E8F0; border-radius: 4px;"
            (click)="ref.close()">Hủy bỏ
    </button>
    <button style="background: #F26522" class="btn ml-3 text-white text-nowrap" (click)="add()">Lưu lại</button>
  </div>
</div>


<ng-template #tableAction>
  <div>delete</div>
</ng-template>
