    <div class="modal-dialog-custom" [formGroup]="form1" *ngIf="form1" >
      <div class="modal-header">
        <h4
          class="modal-title"
          style="text-align: center"
          *ngIf="isCreateNew"
        >
          Thêm mới công văn, văn bản
        </h4>
        <h4
          class="modal-title"
          style="text-align: center"
          *ngIf="!isCreateNew"
        >
          Cập nhật công văn, văn bản
        </h4>
  
      </div>
      <div class="modal-body" style="padding: 15px 10px !important">
        <div class="row">
          <input type="hidden" formControlName="id" *ngIf="!isCreateNew"/>
          <input type="hidden" formControlName="file" *ngIf="!isCreateNew" />
          <div class="col-md-6">
            <label for="">Số/ Ký hiệu <span>*</span></label>
            <input #focusInput
              type="text"
              formControlName="code"
              [readonly]="!isCreateNew"
              [(ngModel)]="code.value"
              (ngModelChange)="checkCode()"
            />
            <div style="color: red" *ngIf="code.error">
              {{ code.message }}
            </div>
          </div>
          <div class="col-md-6">
            <label for="">Loại văn bản <span>*</span></label>
            <ng-select style="font-size: 12px!important;" 
              (change)="checkDocumentType()"
              [(ngModel)]="documentType.value"
              [items]="listDocumentAdd" 
              bindLabel="name" bindValue="code" 
              formControlName="documentType"
              [searchable]="false" 
              [clearable]="false">
            </ng-select>
            <div style="color: red" *ngIf="documentType.error">
              {{documentType.message}}
            </div>
          </div>
          <div class="col-md-6">
            <label for="">Ngày ban hành <span>*</span></label>
            <input type="date" [(ngModel)]="releaseDate.value"
            (keyup)="checkReleaseDate()" style=" font-size: 12px !important;" class="form-control" dateFormat="dd-MM-yyyy"
            formControlName="releaseDate" style="width: 100%" >
            <div style="color: red" *ngIf="releaseDate.error">
              {{ releaseDate.message }}
            </div>
          </div>
          <div class="col-md-6">
            <label for="">Ngày hiệu lực <span>*</span></label>
              <input type="date" [(ngModel)]="effectiveDate.value"
              (keyup)="checkEffectiveDate()" style=" font-size: 12px !important;" class="form-control" dateFormat="dd-MM-yyyy"
              formControlName="effectiveDate" style="width: 100%" >
            <div style="color: red" *ngIf="effectiveDate.error">
              {{ effectiveDate.message}}
            </div>
          </div>
          <div class="col-md-12">
            <label for="">Người ký</label>
            <ng-select
              [items]="listSigner"
              bindLabel="name"
              bindValue="code"
              formControlName="signer"
              [clearable]="false"
            >
            </ng-select>
            <!-- <div style="color: red" *ngIf="messageLoaiMonHoc.status == 'true'">
              {{ messageLoaiMonHoc.message }}
            </div> -->
          </div>
          <div class="col-md-12">
            <label for="">File đính kèm <span>*</span><span class="file-size"> (File &le; 5MB )</span></label>
            <div *ngFor="let item of files; index as i" >
                <span class="file-name" title="{{item.name}}" style="color: #3366FF;">{{cutFileName(item.name)}}  </span> <span class="file-size"> ({{round(item.size)}}kb)</span>
                <span class="delete-file" (click)="deleteFile(i)" >X</span>
            </div>
                <input id="upload-file" #myInput type="file"  style="display:none;"
                 (change)="onSelectedFile($event)" multiple="multiple" accept=".docx, .doc, .pdf"/>
                <label (keyup.enter)="myInput.click()" class="btn-md btn-gray btn-import inport-file" for="upload-file" style="color:#ffffff ;margin: 0; cursor: pointer;" tabindex="0">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.69882 7.5628L6.29258 5.45342C6.16212 5.25771 5.83801 5.25771 5.70755 5.45342L4.30131 7.5628C4.22954 7.67061 4.2227 7.80931 4.2838 7.92364C4.3449 8.03797 4.46403 8.10938 4.59381 8.10938H4.94537V10.5703C4.94537 10.7646 5.10261 10.9219 5.29693 10.9219H6.70318C6.8975 10.9219 7.05474 10.7646 7.05474 10.5703V8.10938H7.4063C7.53607 8.10938 7.65521 8.03797 7.71633 7.92364C7.77746 7.80931 7.77056 7.67061 7.69882 7.5628Z" fill="white"/>
                    <path d="M10.206 4.11183C10.1751 3.69169 10.0045 3.29975 9.70413 2.99935C9.24981 2.54503 8.56588 2.40917 7.96511 2.57689C7.38742 1.64796 6.39362 1.07812 5.29689 1.07812C3.64824 1.07812 2.29041 2.34532 2.14861 3.98642C0.918471 4.29713 0 5.41738 0 6.70314C0 8.25393 1.28515 9.51564 2.83594 9.51564H4.2422V8.75245C3.99774 8.66627 3.79004 8.49152 3.66369 8.25496C3.48001 7.91197 3.50026 7.49725 3.71588 7.17315L5.12249 5.06342C5.31439 4.77537 5.64261 4.60372 6.00001 4.60372C6.35741 4.60372 6.68563 4.77537 6.87754 5.06342L8.28379 7.1728C8.49974 7.49725 8.51999 7.91197 8.33631 8.25496C8.20996 8.49152 8.00226 8.66627 7.7578 8.75245V9.51564H9.16406C10.7148 9.51564 12 8.25393 12 6.70314C12 5.54286 11.2722 4.53645 10.206 4.11183Z" fill="white"/>
                  </svg>
                  Upload
                </label>
            <div style="color: red" *ngIf="file.error">
              {{ file.message }}
            </div>
          </div>
          <div class="col-md-12">
            <label for="">Trích yếu <span>*</span></label>
            <textarea
            formControlName="compendia"
            [(ngModel)]="compendia.value"
              (ngModelChange)="checkCompendia()"
              placeholder="Nhập thông tin trích yếu"
            ></textarea>
            <div style="color: red" *ngIf="compendia.error">
              {{ compendia.message }}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn-action">
          <button type="button" class="btn-md btn-gray" (click)="closeModal()">
            Hủy bỏ
          </button>
          <button
            type="button"
            class="btn-md btn-or"
            *ngIf="isCreateNew"
            [disabled]="isSubmit"
            (click)="create()"
          >
            Lưu lại
          </button>
          <button
            type="button"
            class="btn-md btn-or"
            *ngIf="!isCreateNew"
            [disabled]="isSubmit"
            (click)="update()"
          >
            Lưu lại
          </button>
        </div>
      </div>
    </div>
