



<select [(ngModel)]="params.value" (change)="this.refresh(this.params)"
[disabled]="(params.data.abilityName === null ||
params.data.abilityName.toString().trim().length === 0) ||
(params.data.conductExcellent === false && params.data.conductGood === false && params.data.conductMedium === false && params.data.conductWeak === false)"
class="selectpicker select-op" style="text-overflow: ellipsis">
  <option  value="" disabled selected>Lựa chọn</option>
  <option value="{{i.value}}" *ngFor="let i of listCompetition">{{i.name}}</option>
</select>


<!--<select [(ngModel)]="params.value" (change)="this.refresh(this.params)" class="select-op">-->
<!--  <option value="{{i.value}}" *ngFor="let i of listCompetition">{{i.name}}</option>-->
<!--</select>-->
