.current-year {
  margin-bottom: 20px;
}
.filedemo:focus{
  border: 1px solid #70a3a5;
}
.info-file {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  .file-name {
    font-weight: 600;
    font-size: 14px;
    color: #474d66;
    flex: 3;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }
  .delete-file {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: right;
    color: #d14343;
    cursor: pointer;
    flex: 1;
  }
}
.prosess-bar {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px !important;
  height: 6px;
  background: #52bd94;
  border-radius: 100px;
}
.size-file {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #8f95b2;
  margin-bottom: 0px !important;
}

:host ::ng-deep {
  .mat-form-field-wrapper {
    padding: 0;
    .mat-form-field-infix {
      margin-top: 4px;
      border: 0;
    }
  }

  //input outline color
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background: #ffffff;
    border: 1px solid #d8dae5;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .mat-form-field-appearance-outline.mat-form-field-disabled {
    color: rgba(0, 0, 0, 0.6) !important;
  }
}

.result-import--success {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #3366ff;
    cursor: pointer;
  }
}

::ng-deep.mat-form-field-disabled {
  background-size: 1px 100% !important;
  .mat-input-element {
    color: rgba(0, 0, 0, 0.14);
  }
}