<div class="modal-header">
  <h4 class="modal-title">Thông báo</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group row">
      <img src="/assets/media/bg/normal_u546.svg" class="col-4">
      <div class="col-8" style="text-align: center;font-size: large; margin: auto">
        Bạn có chắc chắn áp dụng các môn học này cho toàn khối học?
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn-custom btn-outline-dark" (click)="activeModal.close('Close click')">Hủy bỏ</button>
  <button type="submit" class="btn-custom btn-outline-dark">Đồng ý</button>
</div>
