<div class="sy-popup">
    <div class="sy-popup-header">
        <span class="sy-popup-header-text">{{title}}</span>
    </div>
    <hr class="sy-popup-line">

    <div class="sy-popup-body" style="padding: 10px 24px; min-height: 434px;">
        <div class="sy-row" style="display: flex; justify-content: space-between;">
            <div style="display: flex; flex-direction: column; text-align: left;">
                <label class="text req">Năm học</label>
                <div>
                    <input type="number" class="sy-popup-input" style="width: 90px;" placeholder="yyyy" (keyup)="validateYear()" [(ngModel)]="start">
                    <span style="padding: 0 9px;">-</span>
                    <input type="number" class="sy-popup-input" style="width: 90px;" placeholder="yyyy" (keyup)="validateYear()" [(ngModel)]="end">
                </div>
                <span *ngIf="errYear.error" class="error">{{errYear.message}}</span>
            </div>
            <div style="display: flex; flex-direction: column; text-align: left">
                <label class="text">Số học kỳ</label>
                <select class="sy-popup-input" [(ngModel)]="semesterAmount" (change)="renderSemesters()" >
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
        
        <div class="sy-row" style="display: flex;">
            <div style="width: 24px; margin-right: 8px;">
                <label class="container">
                    <input type="checkbox" id="extends" (change)="extends()">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div>
                <label for="extends" class="text" style="margin-bottom: 0;">Kế thừa dữ liệu từ năm học cũ</label><br>
                <span class="text--small">Cấu hình và thời gian năm học sẽ được kế thừa từ năm học trước đó</span>
            </div>
        </div> 

        <!-- render depends on semester-comboBox -->
        <div *ngFor="let schoolYear of schoolYears; index as i" class="sy-row">
            <div>
                <span class="text" style="color: #101840; font-size: 16px">HỌC KỲ {{convertToRoman(schoolYear.semester)}}</span>
            </div>

            <div style="display: flex; justify-content: space-between; margin-top: 16px">
                <div style="display: flex; flex-direction: column; text-align: left;">
                    <label class="text req">Ngày bắt đầu</label>
                    <input type="date" value="" placeholder="dd/mm/yyyy" class="sy-popup-input" (keyup)="keyUpStartTime(schoolYear,i,$event)" (change)="validateStartTime(schoolYear, i)" [(ngModel)]="schoolYear.fromDate">
                    <span class="error" *ngIf="errTime[i].from.error">{{errTime[i].from.message}}</span>
                </div>
                <div style="display: flex; flex-direction: column; text-align: left">
                    <label class="text req">Ngày kết thúc</label>
                    <input type="date" value="" placeholder="dd/mm/yyyy" class="sy-popup-input" (keyup)="keyUpEndTime(schoolYear,i,$event)" (change)="validateEndTime(schoolYear, i)" [(ngModel)]="schoolYear.toDate">
                    <span class="error" *ngIf="errTime[i].to.error">{{errTime[i].to.message}}</span>
                </div>
            </div>
        </div>
    </div>
    <hr class="sy-popup-line">
    <div class="sy-popup-footer" style="display: flex; padding: 20px 0; justify-content: center; ">
        <button class="sy-popup-btn" style="color: #101840" mat-dialog-close>Huỷ bỏ</button>
        <button class="sy-popup-btn primary" (click)="save()" [disabled]="isDisabled">Lưu lại</button>
    </div>
</div>