:host {
  align-self: stretch;
  justify-self: stretch;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.transfer-student-action {
  &__icon {
    cursor: pointer;
    width: 34px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #FFFFFF;
    top: 16px;
    right: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    list-style-type: none;
  }

  &__edit-btn {
    background: #F3F6FF;
    border-radius: 2px;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 90px;
    height: 27px;

    span {
      color: #3366FF;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      margin-left: 6.25px;
    }
  }

  &__icon:hover i {
    color: #F26522;
  }

  &__icon:hover &__menu {
    display: block;
  }
}
