.create-group {
  background: #FFFFFF;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
}

.group-title {
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid #E6E8F0;
  box-shadow: 0 2px 4px rgba(28, 41, 90, 0.0367952);

  &__content {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600 !important;
    line-height: 30px;
    margin: 0;
    color: #101840;
  }
}

.group-search-box {
  padding: 16px 20px;
  display: flex;
  border-bottom: 1px solid #E6E8F0;
  box-shadow: 0 2px 4px rgba(28, 41, 90, 0.0367952);
}

.group-body {
  padding: 16px 20px;
  border-bottom: 1px solid #E6E8F0;
  box-shadow: 0 2px 4px rgba(28, 41, 90, 0.0367952);
}

.tree-view {
  border: 1px solid #D8DAE5;
  border-radius: 10px;
  padding: 16px 16px 16px 0;
}

.list-teacher-details {
  border: 1px solid #D8DAE5;
  border-radius: 10px;
  padding: 16px;
}

.btn-change {
  position: absolute;
  top: 50%;
  left: -37px;
  cursor: pointer;
}

.group-footer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.tableListNull {
  height: 252px !important;
}

button{
  font-size: 12px;
  font-weight: 600;
}
::ng-deep{

  .mat-dialog-container {
    border-radius: 16px;
  }

  .ag-center-cols-viewport {
    width: calc(100% + 17px) !important;
  }

  .ag-header-cell-text{
    color: #8F95B2 !important;
    font-size: 10px;
    line-height: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
  }
  .stt-header {
    .ag-cell-label-container {
      .ag-header-cell-label {
        justify-content: center !important;
      }
    }
  }
  .send-mail-teacher {
    .ag-center-cols-container {
      width: 100% !important;
    }
  }
}
.btn-md{
  width: 105px;
  height: 32px;
  left: 726px;
  top: 774px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  border: none;
}
.btn-gray{
  background: #E6E8F0;
  margin-right: 10px;
  color: #696F8C;
}
.btn-or{
  background: #F26522
}

  
  .display-123{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    /* Neutral/Text Muted - N700 */

    color: #696F8C;

    mix-blend-mode: normal;
    opacity: 0.9;
  }

  .display-12{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    /* Neutral/Text Muted - N700 */

    color: #101849;

    mix-blend-mode: normal;
  }