.select-op{
  position: absolute;
  width: 129px;
  height: 32px;
  left: 9px;

  /* Neutral/Background Normal - N100 */

  background: #F4F6FA;
  /* Neutral/Border Normal - N400 */

  border: 1px solid #D8DAE5;
  box-sizing: border-box;
  border-radius: 4px;
}
select option:first-child{
  color: green;
}
