.row{
  margin: 0px 15px;
}
.witget-title{
  background: #F26522;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 8px 8px 0px 0px;
  font-weight: bold;
  font-size: 16px;
  line-height: 52px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  height: 52px;
}
.menu-action-dv{
  border-bottom: 1px solid #E6E8F0;
  box-shadow: 0px 2px 4px rgba(28, 41, 90, 0.0367952);
  font-weight: bold;
  color: #101840;
  display: flex;
  height: 52px;

}
.list-action-dv{
  display: flex;
  margin-left: auto;
}
.btn-action-dv{
  display: flex;
  align-items: center;
  width: 98px;
  height: 32px;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  margin-left: 15px;
  border: none;
  svg{
    margin-right: 10px;
  }
}
.btn-action-dv.blue{
  background: #3366FF;
  //border: none;
}
btn-action-dv.blue:focus {
  border: 2px solid #000000 !important;
  background: #03080e;
}

.btn-action-dv.red{
  background: #D14343;
}
.btn-action-dv.gray{
  background: #696F8C;
}
.btn-action-dv.long{
  width: 139px;
}
.menu-action-dv h3{
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #101840;
  padding-top: 14px;
}
.search-dv label{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #474D66;
}
.search-dv input{
  //background: #FFFFFF;
  //border: 1px solid #D8DAE5;
  //box-sizing: border-box;
  //border-radius: 4px;
  //height: 40px;
}
.search-dv button{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 32px;
  height: 40px;
  background: #F26522;
  border-radius: 4px;
  color: #fff;
  border: none;
  justify-content: center;
  font-weight: 600;
  margin-top: 10px;
}
.search-dv{
  margin-top: 20px !important;
  align-items: flex-end;
}
.search-dv>div{
  display: flex;
  flex-direction: column;
}
.search-dv input{
  width: 100%;
  padding-left: 10px;
}

:host ::ng-deep {

  .ng-select.ng-select-single .ng-select-container {
    height: 40px;
  }

  .ng-select .ng-arrow-wrapper{
    background: #F4F6FA;
    border-radius: 4px;
    margin-right: 5px;
    padding: 3px;
  }

  .ag-header-group-text{
    font-size: 10px;
  }

  .ng-select .ng-arrow-wrapper .ng-arrow {
    //top: 2px !important;
  }
}

.sy-paging {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.sy-paging-result {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #101840;
}

.sy-page {
  background: white;
  border-radius: 3px;
  color: #696F8C;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 12px;
  margin: 0 1px;
  display: inline-block;
  cursor: pointer;
  &.sy-dots {
    background-color: white;
    color: #696f8c;
    cursor: default;
  }
}

.arrow {
  margin: 0 17px;
  cursor: pointer;
}

.sy-highlight {
  background: #FCE9E2 !important;
  color: #F26522 !important;
}
.myPanelClass{
  margin-top: 100px !important;
}
.ag-theme-material .ag-checkbox-input-wrapper.ag-checked::after {
  cursor: pointer !important;
}
input[type=checkbox]{
  cursor: pointer !important;
}
.group-check-box {
  margin: 0 auto;
  display: flex;
  padding-bottom: 34px;
}
