
//.sy-grid-actions {
.action-manage-contact{
  position: relative;
  width: 24px;
  height: 24px;
  .title-action {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  //ul {
  //  display: none;
  //  margin-left: 0;
  //  z-index: 99999999;
  //  position: absolute;
  //  right: 16px;
  //  top: 0;
  //  background: #ffffff;
  //  border-radius: 4px;
  //  padding: 10px;
  //  list-style: none;
  //  li {
  //    cursor: pointer;
  //    padding: 8px 10px;
  //    font-weight: 500;
  //    font-size: 10px;
  //    line-height: 12px;
  //    border-radius: 2px;
  //    background: #f3f6ff;
  //    display: flex;
  //    align-items: center;
  //    &:not(:last-of-type) {
  //      margin-bottom: 6px;
  //    }
  //    .edit {
  //      color: #3366ff;
  //    }
  //    .delete {
  //      color: #fdf4f4;
  //    }
  //  }
  //}
  &:hover {
    ul {
      display: block;
    }
  }
}

ul {
  display: none;
  margin-left: 0;
  z-index: 99999999;
  position: absolute;
  right: 16px;
  top: 0;
  background: #ffffff;
  border-radius: 4px;
  padding: 10px;
  list-style: none;
  li {
    cursor: pointer;
    padding: 8px 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    border-radius: 2px;
    background: #f3f6ff;
    display: flex;
    align-items: center;
    &:not(:last-of-type) {
      margin-bottom: 6px;
    }
    .edit {
      color: #3366ff;
    }
    .delete {
      color: #fdf4f4;
    }
  }
}


.last-ele {
  margin-left: 0px;
  z-index: 99999999;
  position: absolute;
  right: 16px;
  top:-40px;
  background: #ffffff;
  border-radius: 4px;
  padding: 10px;
  list-style: none;
}

.focus-button:focus{
  border: 2px solid #52bd94;
}


