<div class="action-manage-contact">
  <div class="title-action"><i class="fa fa-ellipsis-v"></i></div>
  <ul [class.last-ele]="rowIndex === 10 || rowIndex === 6 || rowIndex === 7 || rowIndex === 8 || rowIndex === 9">
    <li
      *ngIf="showRegister"
      class="btn-action-sc edit"
      (click)="openModalUpdate()"
    >
      <span class="sy-ic ic-size-12 ic-mr-8 ic-svg-register"></span>
      Đăng ký gói cước
    </li>
    <li
      *ngIf="showCancel"
      class="focus-button btn-action-sc delete"
      (click)="openModalDelete(deteleContactPackageModal)"
    >
      <span class="sy-ic ic-size-12 ic-mr-8 ic-svg-cancel"></span>
      Huỷ dịch vụ
    </li>
  </ul>
</div>

<!--up-->
<ng-template #deteleContactPackageModal>
  <div class="modal-confirm">
    <div class="modal-body">
      <h4 class="modal-title">xác nhận huỷ dịch vụ</h4>
      <p class="des">
        Bạn có chắc chắn muốn huỷ dịch vụ gói cước sổ liên lạc điện tử?
      </p>
    </div>
    <div class="modal-footer">
      <div class="modal-actions">
        <button type="button" class="focus-button sy-btn-action" (click)="modalRef.hide()"
                tabIndex="0" >
          Hủy bỏ
        </button>
        <button
          type="button"
          class="focus-button sy-btn-action active"
          (click)="deteleContactPackage()"
          tabIndex="0"
        >
          Đồng ý
        </button>
      </div>
    </div>
  </div>
</ng-template>
